@using CarShop.Models
@model Car
@{
    ViewData["Title"] = "Edit car page";
}
<h1>Edit car page</h1>
<form asp-action="EditCar" asp-controller="Cars">
    <div class="form-group">
        <input id="carId" name="carId" value="@Model.Id" type="hidden" />
    </div>
    <div class="form-group">
        <label for="carMake">Car make</label>
        <input id="carMake" name="carMake" value="@Model.Make" type="Text" />
    </div>
    <div class="form-group">
        <label for="carModel">Car model</label>
        <input id="carModel" name="carModel" value="@Model.Model" type="Text" />
    </div>
    <div class="form-group">
        <label for="carYear">Car year</label>
        <input id="carYear" name="carYear" value="@Model.Year" type="Text" />
    </div>
    <div class="form-group">
        <label for="carPictureURL">Car picture URL</label>
        <input id="carPictureURL" name="carPictureURL" value="@Model.PictureURL" type="Text" />
    </div>
    <div class="form-group">
        <label for="carOwner">Owner</label>
        <input id="carOwner" name="carOwner" type="Text" />
    </div>
    <input value="Save" type="Submit" class="btn btn-primary" />
</form>   