@using CarShop.Models
@model List<Car>

@{
    ViewData["Title"] = "Cars";
}

<style>
    #buttons {
        position:center;
    }
</style>
<div class="text-left">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-8 col-lg-5">
                <a type="button" class="btn btn-info btn-sm" asp-area="" asp-controller="Cars" asp-action="AddCar">Add Car</a>

                <form asp-action="Index" asp-controller="Cars">
                    <div class="form-group">
                        <div class="form-outline">
                            <input id="search" name="search" type="Text" />
                        </div>
                        <input value="Search" type="Submit" class="btn btn-primary" />
                    </div>
                </form>

                <h6 class="text-muted">Cars list</h6>
                <ul class="list-group">
                    @foreach (Car item in Model)
                    {
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <b>@item.Make @item.Model @item.Year</b>
                            <div class="image-parent">
                                <img src="@item.PictureURL" class="img-fluid" alt="quixote">
                                <div id="buttons">
                                    <a type="button" class="btn btn-warning btn-sm" asp-area="" asp-controller="Cars" asp-action="Like" asp-route-id="@item.Id">Like</a>
                                    <a type="button" class="btn btn-info btn-sm" asp-area="" asp-controller="Cars" asp-action="Details" asp-route-id="@item.Id">Details</a>
                                    <a type="button" class="btn btn-info btn-sm" asp-area="" asp-controller="Cars" asp-action="EditCar" asp-route-id="@item.Id">Edit</a>
                                    <a type="button" class="btn btn-danger btn-sm" asp-area="" asp-controller="Cars" asp-action="Remove" asp-route-id="@item.Id">Remove</a>
                                </div>
                                <p>Likes: @item.Likes</p>
                            </div>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>
